img {
    border-radius: 50px;;
    width:450px;
    height: 450px;
    gap: 10px;
    border: 7px dotted;
    border-color: plum;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 5em;
    color: plum;    
}

body {
    background-color: aquamarine;
}


.grid-1 {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: auto auto auto;
  
  }

  .kitty-names {
    font-weight: 400;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 2%;
    grid-template-rows: auto auto auto;
    color: plum;
  }